<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="localhost_MIT_TEST_Connection" connectionString="XpoProvider=MSSqlServer;data source=121.140.146.176,2476;user id=sa;password=aodlfwjdqh2476!;initial catalog=MIT_TEST;Persist Security Info=true" />
        <add name="BarCodeLabel.Properties.Settings.MIT_TESTConnectionString"
            connectionString="Data Source=121.140.146.176,2476;Initial Catalog=MIT_TEST;Persist Security Info=True;User ID=sa;Password=aodlfwjdqh2476!"
            providerName="System.Data.SqlClient" />
        <add name="localhost_MIT_TEST_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=121.140.146.176,2476;user id=sa;password=aodlfwjdqh2476!;initial catalog=MIT_TEST;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>